<h1>{{title}}</h1>


<p>This component fetching Slot data from server and deleting as desired.</p>
<p *ngIf="!slotList"><em>Loading...</em></p>

<table class='table' *ngIf="slotList">

  <thead>
    <tr>
      <th>Room ID</th>
      <th>Start Time</th>
      <th>Staff ID</th>
      <th>Student ID</th>
      <th>Booking</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let slot of slotList">
      <td>{{ slot.roomId }}</td>
      <td>{{ slot.startTime }}</td>
      <td>{{ slot.staffId }}</td>
      <td>{{ slot.studentId }}</td>
      <td>
        <a [routerLink]="['/slot/edit/', slot.roomId, slot.startTime, slot.staffId]">Edit Student</a>
      </td>
      <td>
        <a [routerLink]="" (click)="delete(slot.roomId, slot.startTime)">Delete Slot</a>
      </td>
    </tr>
  </tbody>
</table>
