<h1>{{title}}</h1>


<p>This component demonstrates fetching Slot data from the server.</p>
<p *ngIf="!slotList"><em>Loading...</em></p>

<table class='table' *ngIf="slotList">

  <thead>
    <tr>
      <th>Room ID</th>
      <th>Start Time</th>
      <th>Staff ID</th>
      <th>Student ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let slot of slotList">
      <td>{{ slot.roomId }}</td>
      <td>{{ slot.startTime }}</td>
      <td>{{ slot.staffId }}</td>
      <td>{{ slot.studentId }}</td>
      <td>
        <a [routerLink]="" (click)="delete(slot.roomId, slot.startTime)">Delete Slot</a>
      </td>
      <td>
        <input type="text" placeholder="Change Student ID" ondblclick="updateBookedStudent(slot.roomId, slot.startTime, this)"/>
      </td>
      <td>
        <a [routerLink]="" (click)="updateBookedStudent(slot.roomId, slot.startTime)">Change Student</a>
      </td>
    </tr>
  </tbody>
</table>
